.nav-item{
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.nav-link{
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: 100;
}

.nav-item:hover{
    border-bottom: 1px solid white;
    border-radius: 10px;
    
}